.u-heading-primary {font-size: 4rem !important;}
.u-dot-heavy {font-size: 6rem !important;}
.u-text-align-center {text-align: center !important;}

.u-padding-top-lg {padding-top: 2rem !important;}
.u-padding-top-m {padding-top: 1rem !important;}
